$colors: (
    common: (
        white: #ffffff,
        black: #000,
        placeholder: #c9c9c9,
        placeholder-2: #c4c4c4,
        placeholder-3: #999999,
        heading: #1C1D1B,
        body-text: #404a3d,
    ),
    theme: (
        1: #5b8c51,
        2: #eddd5e,
        3: #EEAA36,
        4: #E66D6D,
        5: #AF6C1F,
    ),
    text: (
        1:#abb3a9, 
        2:#777777,
        3:#707070,
        4:#788175,
        5:#dbdbdb,
        6:#bcbcbc,
        7:#c5cfc2,
        8:#465243,
        9:#899386,
        10:#999999,
        11:#bfbfbf,
        12:#93887b,
        13:#0b3d2c,
        14:#d4d4d4,
        15:#c5c5c5,
        16:#cbcbcb,
    ),
    bg: (
        pyrite-green:#404a3d,
        grey-1:#f1eedf,
        grey-2:#f7f7f7,
        green:#283026,
    ),
    border: (
        1: #e8e8e8,
        2: #e7e7e7,
        3: #343c32,
        4: #515c4e,
        5: #ececec,
        6:#e9e9e9,
        7:#d9dbd8,
        8:#f1f1f1,
        9:#efefef,
        10:#cecdbf,
        11:#f2f2f2,
        12:#cbc8b7,
        13:#ededed,
        14:#eeeeee,
        15:#d0d0d0,
        16:#f1f1f1,
        17:#ededed,
        18:#f4f4f4,
        19:#dedac7,
    ),
    footer: (
        1: #b0b9ae,
        2: #E5DDD9,
        3: #E5DDD9,
        4: #cddfc9,
        5: #7b8479,
    )
);

  