@use '../utils' as *;

/*----------------------------------------*/
/*  02.ANIMATION CSS START
/*----------------------------------------*/

// Amimation style

@-webkit-keyframes pulse {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 45px rgba(255,255,255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}
@keyframes pulse {
0% {
	-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
}
70% {
	-moz-box-shadow: 0 0 0 45px rgba(255,255,255, 0);
	box-shadow: 0 0 0 45px rgba(255,255,255, 0);
}
100% {
	-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}

// Btn animation
@-webkit-keyframes video-ripple {
	0%, 35% {
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  opacity: 1;
	}
	50% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	  opacity: 0.8;
	}
	100% {
	  opacity: 0;
	  -webkit-transform: scale(1.5);
	  transform: scale(1.5);
	}
  }

// Hero animation
@keyframes fadeInUp {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
	}
  
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
// Rotate
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}
@-webkit-keyframes circleMoveRight {
	0% {
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	to {
	 -webkit-transform:translate(25%,16%);
	 transform:translate(25%,16%)
	}
   }
   @keyframes circleMoveRight {
	0% {
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	to {
	 -webkit-transform:translate(25%,16%);
	 transform:translate(25%,16%)
	}
   }
   @-webkit-keyframes circleMoveLeft {
	0% {
	 -webkit-transform:translate(0);
	 transform:translate(0)
	}
	to {
	 -webkit-transform:translate(-25%,16%);
	 transform:translate(-25%,16%)
	}
   }
   @keyframes circleMoveLeft {
	0% {
	 -webkit-transform:translate(5px,-5px);
	 transform:translate(5px,-5px);
	}
	to {
	 -webkit-transform:translate(-0%,0px);
	 transform:translate(-0px,0px)
	}
   }
