@use '../utils' as *;

/*----------------------------------------*/
/*  08. OVERLAY CSS START
/*----------------------------------------*/

.footer {
	&__overlay {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-color: rgb(40, 48, 38);
			opacity: 1;
			mix-blend-mode: darken;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
}
.video {
	&__overlay {
		position: relative;
		z-index: 1;
		&::after {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-color: var(--clr-theme-1);
			opacity: 1;
			top: 0;
			z-index: -1;
			mix-blend-mode: multiply;
		}
	}
}
.hero {
	&__overlay {
		position: relative;
		z-index: 2;
		&::before {
			position: absolute;       
			content: "";
			height: 100%;
			width: 100%;
			top: 0;
			background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
			background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0.70196) 0%, rgba(0,0,0,0) 100%);
			opacity: 0.8;
			z-index: -1;
		}
	}
}

.card {
	background-color: #f39c12;
	
}

.team-overlay {
    position: relative;
    z-index: 2;
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgb(64, 74, 61);
        top: 0;
        opacity: 1;
        z-index: -1;
        mix-blend-mode: multiply;
    }
}
.postbox {
	&__overlay {
		position: relative;
		min-height: 115px;
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgb(11, 61, 44);
			opacity: 0.902;
		}
	}
}

.gallery {
	&__overlay {
		position: relative;
		&::before{
			position: absolute;
			content: "";
			min-height: 460px;
			width: 100%;
			background-color: var(--clr-bg-grey-1);
			top: 0;
		}
	}
}
