@use '../utils' as *;


/*----------------------------------------*/
/*  11. ABOUT CSS START
/*----------------------------------------*/

// About style

.bd-about {
  &__image {
    &-wrapper {
      &-2 {
        height: 565px;
      }
    }
  }
  &__image {
    &-1 {
      @media #{$xs}{
        width: 100%;
      }
    }
    &-2 {
      margin-top: -110px;
      @media #{$xs}{
        margin-top: 30px;
      }
      img {
        @include border-radius(6px);
        @media #{$xs}{
          width: 100%;
        }
      }
    }
    &-3 {
      @include border-radius(6px);
      max-width: 100%;
    }
    &-4 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      @include border-radius(6px);
      max-width: 100%;
    }
  }
  &__content {
    &-wrapper {
      padding-left: 70px;
      @media #{$xl}{
        padding-left: 50px;
      }
      @media #{$lg}{
        padding-left: 30px;
      }
      @media #{$xs,$sm,$md}{
        padding-left: 0px;
      }
    }
    &-box {
      margin-right: 60px;
      @media #{$xs,$sm,$md,$lg}{
        margin-right: 0;
      }
      &-3 {
        margin-left: 50px;
        @media #{$xl}{
          margin-left: 30px;
        }
        @media #{$xs,$sm,$md}{
          margin-left: 0;
        }
      }
    }
  }
  &__features {
    &-wrapper {
      display: flex;
      gap: 60px;
      @media #{$xs,$lg}{
        gap: 20px;
        flex-wrap: wrap;
      }
    }
  }
  &__shape {
    width: 100px;
    height: 100px;
    background: var(--clr-theme-1);
    text-align: center;
    line-height: 100px;
    @include border-radius(50%);
    position: absolute;
    top: 110px;
    right: 25px;
    @media #{$xl}{
      right: -25px;
    }
    @media #{$sm}{
      right: 0px;
    }
    @media #{$xs}{
      display: none;
    }
    &-2 {
      width: 100px;
      height: 100px;
      background-color: var(--clr-theme-1);
      text-align: center;
      line-height: 100px;
      @include border-radius(50%);
      position: absolute;
      left: 17%;
      bottom: 15px;
      @media #{$xl}{
        left: 50px;
      }
      @media #{$lg}{
        left: -30px;
      }
      @media #{$sm,$xs,}{
        display:none;
      }
    }
  }
  &__dashed {
    &-icon {
      position: absolute;
      top: -17px;
      left: -16px;
    }
  }
  &__features {
    &-list {
      ul {
        li {
          list-style: none;
          color: var(--clr-text-2);
          display: flex;
          i {
            margin-right: 15px;
            color: var(--clr-common-body-text);
          }
        }
      }
    }
    &-title {
      h4 {
        margin-bottom: 20px;
        font-weight: var(--bd-fw-bold);
      }
    }
  }
  &__experience {
    background: var(--clr-theme-2);
    padding: 18px 30px 30px 30px;
    @include border-radius(6px);
    .number {
      font-size: 80px;
      font-weight: var(--bd-fw-bold);
      line-height: 1;
      font-family: var(--bd-ff-heading);
    }
    p {
      font-size: 14px;
      font-weight: var(--bd-fw-bold);
      font-family: var(--bd-ff-heading);
      margin-bottom: 0;
      line-height: 1;
      color: var(--clr-common-body-text);
      text-transform: uppercase;
    }
    .plus {
      font-size: 20px;
      font-weight: var(--bd-fw-bold);
    }
  }
  &__cercle {
    height: 160px;
    width: 160px;
    background-color: var(--clr-theme-2);
    @include border-radius(50%);
    position: absolute;
    top: 0;
    right: 120px;
    z-index: -1;
    @media #{$xl}{
      right: 0;
    }
  }
  &__award {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--clr-border-6);
    border-bottom: 1px solid var(--clr-border-6);
    flex-wrap: wrap;
    &-content {
      p {
        font-size: 18px;
        margin-bottom: 0;
      }
      h3 {
        font-size: 24px;
      }
      &-2 {
        @media #{$xs}{
          h3 {
            font-size: 20px;
            margin-bottom: 5px;
        }
      }
    }
    }
  }
  &__border {
    border-top: 1px solid var(--clr-border-13);
    padding-top: 40px;
  }
  &__thumb {
    &-wrapper {
      position: relative;
      min-height: 515px;
      @media #{$md}{
        min-height: 595px;
      }
      @media #{$xs}{
        min-height: 460px;
      }
    }
    &-1 {
      position: absolute;
      left: -80px;
      @include transform(rotate(-37deg));
      top: 100px;
      @media #{$md}{
        left: 0;
      }
      @media #{$lg}{
        top: 80px;
      }
      @media #{$xs,$sm}{
        top: 0;
      }
    }
    &-2 {
      position: absolute;
      top: 60px;
      transform: rotate(-18deg);
      left: 172px;
      @media #{$lg}{
        top: 43px;
        left: 130px;
      }
      @media #{$xs}{
        left: 0;
      }
    }
    &-3 {
      position: absolute;
      top: 220px;
      @include transform(rotate(26deg));
      left: 130px;
      @media #{$lg}{
        @include transform(rotate(45deg));
      }
      @media #{$lg}{
        top: 210px;
        left: 80px;
      }
      @media #{$xs}{
        left: 0;
      }
    }
  }
  &__list {
    margin-bottom: 40px;
    ul {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 15px 20px;
    }
    li {
      list-style: none;
      height: 60px;
      line-height: 60px;
      background-color: var(--clr-common-white);
      padding-left: 20px;
      padding-right: 20px;
      @include border-radius(6px);
      img {
        margin-right: 7px;
      }
    }
  }
  &__author {
    display: flex;
    align-items: center;
    gap: 20px;
    &-text {
      span {
        color: var(--clr-theme-1);
      }
      h3 {
        a {
          &:hover {
            color: var(--clr-theme-1);
          }
        }
        @media #{$xs}{
          font-size: 20px;
        }
      }
    }
  }
}
.about {
  &__thumb {
    width: 420px;
    height: 240px;
    padding: 10px;
    @include border-radius(6px);
    background-color: var(--clr-common-white);
    @include box-shadow (0px 16px 32px 0px rgba(0, 0, 0, 0.06));
    @media #{$xl}{
      width: 350px;
      height: 205px;
    }
    @media #{$lg,$xs}{
      width: 320px;
      height: 180px;
    }
    @media #{$xs,$sm}{
      left: 50%;
      @include transform(translateX(-50%));
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.about {
  &__bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media #{$md,$sm}{
      background-position: 80%;
    }
  }
}