@use '../utils' as *;

/*----------------------------------------*/
/*  13. BRAND CSS START
/*----------------------------------------*/

// Brand Style
.bd-single {
    &__brand {
        text-align: center;
        img {
            opacity: 40%;
            @include transition(.3s);
            &:hover {
                opacity: 100%;
            }
        }
        &-2 {
            img {
                opacity: 40%;
                margin-top: 10px;
                @include transition (.3s);
                &:hover {
                    @include transform (translateY(-10px));
                    opacity: 100%;
                }
            }
        }
    }
}
.bd-brand {
    &__dashed {
        padding-top: 60px;
        position: relative;
        height: 1px;
    }
}
.bd-dashed {
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, transparent 50%, #ededed 50%);
        background-size: 33px 100%;
    }
}