@use '../utils' as *;

/*----------------------------------------*/
/*  23. HERO CSS START
/*----------------------------------------*/

// Hero style
.hero__height {
	min-height: 850px;
	@media #{$xs,$sm,$md}{
		min-height: 750px;
	}
}
.bd-hero__content {
	margin-top: -90px;
	span {
		font-size: 24px;
		color: var(--clr-common-white);
		display: block;
		margin-bottom: 5px;
		@media #{$xs}{
			font-size: 22px;
			}
	}
	h2 {
		font-size: 120px;
		font-weight: var(--bd-fw-bold);
		text-transform: uppercase;
		color: var(--clr-common-white);
		line-height: 1;
		margin-bottom: 10px;
		@media #{$lg,$xl}{
		font-size: 100px;
		}
		@media #{$sm,$md}{
		font-size: 85px;
		}
		@media #{$xs}{
		font-size: 50px;
		}
	}
	p {
		color: rgba(255, 255, 255, 0.6);
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 45px;
	}
}
.bd-hero__btn-wrapper {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	@media #{$xs}{
		gap: 20px;
	}
}
.bd-hero__banner{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include transform(scale(1));
	@include transition (8s);
}
.swiper-slide-active .bd-hero__banner{
	@include transform(scale(1.12)); 
}
// Hero style-2
.hero-height-2 {
	min-height: 1190px;
	margin-top: 70px;
	@media #{$xs,$sm,$md}{
		min-height: 700px;
		display: flex;
		align-items: center;
	}
	@media #{$lg}{
		min-height: 900px;
	}
}
.bd-hero__content-2 {
	padding-top: 255px;
	@media #{$xs,$sm,$md}{
		padding-top: 0;
	}
	span {
		font-size: 24px;
		display: block;
		margin-bottom: 5px;
	}
	h2 {
		font-size: 120px;
		margin-bottom: 35px;
		line-height: 1;
		@media #{$lg,$md,$xl}{
			font-size: 100px;
		}
		@media #{$sm}{
			font-size: 85px;
		}
		@media #{$xs}{
			font-size: 50px;
		}
	}
}
// Hero style-3
.bd-header__area-3 {
	position: absolute;
	width: 100%;
}
.hero__height-3 {
	min-height: 885px;
	@media #{$xs}{
		min-height: 550px;
	}
	@media #{$sm}{
		min-height: 800px;
	}
	@media #{$md}{
		min-height: 700px;
	}
}
.bd-hero__box {
	@include flexbox();
	align-items: center;
	gap: 60px;
	position: relative;
	z-index: 5;
	@media #{$sm,$md}{
		gap: 35px;
		justify-content: center;
	}
	@media #{$xs,$sm}{
		gap: 35px;
		justify-content: center;
		flex-wrap: wrap;
	}
	@media #{$lg}{
		gap: 25px;
	}
}
.bd-hero__content-3 {
	span {
		font-size: 24px;
		color: var(--clr-common-white);
		margin-bottom: 5px;
		display: block;
		@media #{$xs,$sm}{
			margin-bottom: 15px;
		}
	}
	h2 {
		font-size: 120px;
		color: var(--clr-common-white);
		margin-bottom: 40px;
		line-height: 1;
		@media #{$lg,$xl}{
			font-size: 100px;
		}
		@media #{$md}{
			font-size: 65px;
		}
		@media #{$sm}{
			font-size: 60px;
		}
		@media #{$xs}{
			font-size: 50px;
		}
	}
}
.bd-hero__shape-inner {
	display: inline-block;
	height: 250px;
	width: 250px;
	background: var(--clr-common-body-text);
	text-align: center;
	line-height: 250px;
	border-radius: 500%;
	position: relative;
	z-index: 2;
	@media #{$sm,$md,$lg}{
		height: 200px;
		width: 200px;
		line-height: 200px;
	}
	@media #{$xs}{
		display: none;
	}
}
.bd-hero__shape {
	position: relative;
	&:after {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background-color: var(--clr-theme-2);
		z-index: -1;
		border-radius: 50%;
		left: -10px;
		top: 10px;
		-webkit-animation-name: circleMoveLeft;
		animation-name: circleMoveLeft;
		-webkit-animation-duration: 3s;
		animation-duration: 3s;
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-direction: alternate;
		animation-direction: alternate;
		will-change: transform;
	}
}
