@use '../utils' as *;


/*----------------------------------------*/
/*  24. LOGIN CSS START
/*----------------------------------------*/

// Register style
.bd-login {
    &__input {
        position: relative;
        border: 1px solid var(--clr-border-2);
        border-radius: 6px;
        margin-bottom: 20px;
        input {
            width: 100%;
            height: 60px;
            background: var(--clr-common-white);
            border: 0;
            @include border-radius(6px);
            padding: 0 25px 0 50px;
        }
        i {
            position: absolute;
            top: 22px;
            left: 20px;
            color: var(--clr-theme-1);
        }
        textarea {
            height: 150px;
            width: 100%;
            border: 0;
            @include border-radius(6px);
            resize: none;
            outline: none;
            padding: 17px 25px 17px 50px;
        }
        ::placeholder {
            color: var(--clr-common-placeholder-3);
            opacity: 1;
            font-size: 16px;
        }
        ::-moz-placeholder {
            color: var(--clr-common-placeholder-3);
            opacity: 1;
            font-size: 16px;
        }
    }
}
.signup-action-check {
	@include flexbox();
	align-items: center;
	gap: 10px;
}
.signup-action {
	margin-bottom: 25px;
}
.bd-acount {
	&__login {
		&-text {
			span {
				a {
					font-weight: var(--bd-fw-sbold);
					text-decoration: underline;
					&:hover {
						color: var(--clr-theme-1);
					}
				}
			}
			margin-bottom: 30px;
		}
	}
}
.bd-sign {
	&__social {
		&-text {
			position: relative;
			z-index: 5;
			background: var(--clr-common-white);
			margin-bottom: 25px;
			&:before {
				position: absolute;
				height: 1px;
				background: var(--clr-border-2);
				content: "";
				width: 100%;
				top: 15px;
				left: 0;
				z-index: -1;
			}
			span {
				background: var(--clr-common-white);
				display: inline-block;
				padding: 0 15px;
			}
		}
		&-icon {
			a {
				border: 1px solid var(--clr-border-2);
				padding: 10px 20px;
				@include border-radius(4px);
				margin-right: 20px;
				display: inline-block;
				&:hover {
					color: var(--clr-theme-1);
					border: 1px solid var(--clr-theme-1);
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
.sign-check {
	span {
		a {
			text-decoration: underline;
			font-weight: var(--bd-fw-sbold);
            &:hover {
                color: var(--clr-theme-1)
            }
		}
	}
}
.bd-registered__wrapper {
	@include flexbox();
	justify-content: space-around;
	margin-bottom: 20px;
	flex-wrap: wrap;
    gap: 10px;
}
.not-register {
	span {
		a {
			color: var(--clr-common-heading);
			font-weight: var(--bd-fw-sbold);
			text-decoration: underline;
            &:hover {
                color: var(--clr-theme-1);
            }
		}
	}
}
.forget-password {
	a {
		&:hover {
			color: var(--clr-theme-1);
		}
	}
}
