
@use '../utils' as *;

/*----------------------------------------*/
/*  30.SKILL CSS START
/*----------------------------------------*/

// Skil style start
.bd-skill {
    &__left {
        margin-right: 30px;
        @media #{$xs,$sm,$md,$lg}{
            margin-right: 0;
        }
    }
    &__features {
        &-item {
            @include flexbox();
            align-items: center;
            gap: 20px;
            border-bottom: 1px solid var(--clr-border-11);
            padding-bottom: 25px;
        }
        &-icon {
            width: 80px;
            display: inline-block;
            background: var(--clr-common-white);
            height: 80px;
            line-height: 76px;
            text-align: center;
            @include box-shadow (0px 16px 32px 0px rgba(0, 0, 0, 0.06));
            @include border-radius (6px);
            min-width: 80px;
        }
        &-content {
            h3 {
                margin-bottom: 12px;
                @media #{$xl,$xs}{
                    font-size: 20px;
                }
            }
            p {
                margin-bottom: 0;
                color: var(--clr-text-2);
            }
        }
    }
}
// Skill Porgress Style
.bd-skill {
    &__thumb {
        margin-left: 80px;
        @media #{$xs,$sm,$md,$lg}{
            margin-left: 0;
        }
    }
    &__progress {
        padding-right: 20px;
        @media #{$xs,$sm,$md}{
            padding-right: 0;
        }
    }
    &-title {
        h3 {
            font-size: 26px;
        }
    }
}
.bd-progress {
    &__skill {
        &-item {
            position: relative;
            margin-bottom: 35px;
            h4 {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 13px;
                padding-right: 50px;
            }
            .progress-count {
                position: absolute;
                top: 0px;
                right: 0;
                font-size: 18px;
                font-weight: var(--bd-fw-bold);
                color: rgb(91, 140, 81);
                font-family: var(--bd-ff-heading);
            }
            .progress {
                height: 10px;
                background-color: transparent;
                border-radius: 0;
                overflow: visible;
                position: relative;
                z-index: 1;
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    height: 2px;
                    width: 100%;
                    background-color: #ececec;
                    z-index: -1;
                }
            }
            .progress-bar {
                background-color: var(--clr-theme-1);
                overflow: visible;
                @include border-radius(0 10px 10px 0);
            }
        }
    }
}
