@use '../utils' as *;

/*----------------------------------------*/
/*  33.TIMELINE CSS START
/*----------------------------------------*/

// Timeline style
.bd-timeline {
	&__wrapper {
		position: relative;
		z-index: 1;
	}
	&__start {
		position: relative;
		width: 100%;
		text-align: center;
		z-index: 1;
		@media #{$sm}{
			text-align: start;
		}
		span {
			width: 50px;
			height: 50px;
			background-color: var(--clr-common-white);
			display: inline-block;
			text-align: center;
			line-height: 50px;
			@include box-shadow(0px 16px 32px 0px rgba(0, 0, 0, 0.06));
			@include border-radius(6px);
			font-size: 16px;
			@media #{$xs}{
			display: none;
			}
		}
	}
	&__continue {
		position: relative;
		width: 100%;
		padding: 20px 0;
		@media #{$xs}{
			padding: 0;
			}
		&:after {
			position: absolute;
			content: "";
			width: 1px;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: -1px;
			background: var(--clr-border-1);
			@media #{$sm}{
			left: 25px;
			}
			@media #{$xs}{
			display: none;
			}
		}
	}
	&__date {
		position: relative;
		h2 {
			font-size: 150px;
			position: relative;
			color: transparent;
			stroke: 1px var(--clr-common-body-text);
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: var(--clr-common-body-text);
			line-height: 1;
			@media #{$md,$xs}{
			font-size: 120px;
			}
		}
	}
	&__inner {
		@include flexbox();
		align-items: center;
		gap: 30px;
		@media #{$xl}{
			gap: 20px;
		}
		@media #{$lg,$md,$xs}{
			flex-wrap: wrap;
		}
	}
	&__icon {
		span {
			height: 80px;
			width: 80px;
			display: inline-block;
			background-color: var(--clr-common-white);
			text-align: center;
			line-height: 80px;
			@include border-radius(6px);
			@include box-shadow(0px 16px 32px 0px rgba(0, 0, 0, 0.06));
		}
	}
	&__content {
		h3 {
			margin-bottom: 10px;
			@media #{$xl,$md,$sm,$xs}{
			font-size: 22px;
			}
		}
	  p {
		margin-bottom: 0;
	  }
	}
	
}
.row {
	&.timeline__right {
		@include flexbox();
		align-items: center;
		.bd-timeline__date {
			&::after {
				right: -22px;
			}
		text-align: right;
		padding-right: 75px;
		@media #{$xl,$md,$lg}{
			padding-right: 55px;
		}
		@media #{$xs}{
			text-align: start;
			padding-right: 0;
		}
		}
		.bd-timeline__box {
		padding-left: 75px;
		@media #{$xl,$md,$sm,$lg}{
			padding-left: 55px;
		}
		@media #{$xs}{
			padding-left: 0;
		}
		}
		.bd-timeline__icon {
			position: absolute;
			@include transform(translateY(-50%));
			right: -54px;
			z-index: 2;
			top: 50%;
			@media #{$sm}{
				left: -15px;
				right: auto;
			}
			@media #{$xs}{
				display: none;
			}
		}
	}
	&.timeline__left {
		display: flex;
		flex-wrap: wrap-reverse;
		.bd-timeline__date {
      text-align: left;
      padding-left: 75px;
		@media #{$xl,$md,$sm,$lg}{
			padding-left: 55px;
			text-align: center;
		}
		@media #{$xs}{
			padding-left: 0;
		}
		}
		.bd-timeline__inner {
		flex-direction: row-reverse;
		@media #{$lg,$md,$xs}{
			flex-direction: row;
		}
			}
			.bd-timeline__box {
				padding-right: 75px;
			@media #{$sm}{
				padding-right: 0;
				padding-left: 55px;
			}
			@media #{$lg}{
				padding-right: 0;
			}
		}
		.bd-timeline__icon {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			left: -54px;
			z-index: 2;
			@media #{$sm}{
				left: -16px;
			}
			@media #{$xs}{
				display: none;
			}
		}
	}
}
.bd-timeline__area {
	@media #{$xs}{
		padding-bottom:115px;
	}
}
.row.timeline__left .bd__timeline-year{
	margin-bottom: 65px;
}
.timeline__right, .bd-timeline__box  {
	@media #{$lg,$md}{
		margin-bottom: 0 ;
	}
}
.timeline__right .bd__timeline-year {
	@media #{$lg}{
		margin-bottom: 0 ;
	}
}
.bd__timeline-year.year-2 {
	@media #{$lg}{
		margin-bottom: 0 ;
	}
}
.bd__timeline-year.p-relative.year-3 {
	margin-bottom: 20px;
	@media #{$xs,$sm}{
		margin-bottom: 60px;
	}
}