@use '../utils' as *;

/*----------------------------------------*/
/*  34.VIDEO CSS START
/*----------------------------------------*/

// Video  style
.bd-play {
	&__btn {
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%235B8C51FF' stroke-width='4' stroke-dasharray='12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		@include border-radius(100%);
		width: 100px;
		height: 100px;
		-webkit-transition: background .3s;
		-moz-transition: background .3s;
		-o-transition: background .3s;
		transition: background .3s;
		@include flexbox();
			align-items: center;
			justify-content: center;
			font-size: 20px;
			color: var(--clr-theme-1);
		&:hover {
			background-image: none;
			background-color: var(--clr-theme-1);
			color: var(--clr-common-white);
		}
	  &.two {
		background-color: var(--clr-common-white);
		background-image: none;
		animation: pulse 2s infinite;
		&:hover {
			background-color: var(--clr-theme-2);
			i {
				color: var(--clr-theme-1);
			}
		}
	  }
	}
}
.bd-video {
	&__btn-wrapper {
		@include flexbox();
		  justify-content: center;
		  gap: 30px;
		  flex-wrap: wrap;
	  }
}
// video style -inner
.video {
	&__bg {
		position: relative;
		z-index: 2;
		&:before {
			position: absolute;
			content: "'";
			min-height: 400px;
			width: 100%;
			background-color: var(--clr-common-body-text);
			left: 0;
			right: 0;
			z-index: -1;
			top: 0;
		}
	}
}
.bd-video {
	&__play {
		&-button {
			height: 120px;
			width: 120px;
			display: inline-flex;
			background: var(--clr-common-white);
			align-items: center;
			justify-content: space-evenly;
			font-size: 18px;
			color: var(--clr-theme-1);
			@include border-radius(50%);
			animation: pulse 2s infinite;
			&:hover {
				color: var(--clr-common-white);
				background-color: var(--clr-theme-1);
			}
		}
	}
	&__box {
		.play__btn {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform (translate(-50%, -50%));
		}
	}
	&__thumb {
		img {
			@include border-radius(6px);
			width: 100%;
		}
	}
}

